<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h5 class="mb-4">企業情報</h5>
        <ul class="list-unstyled">
          <li class="mb-2">会社名：パワーオーク株式会社</li>
          <li class="mb-2">住所：〒2300051 神奈川県横浜市鶴見区鶴見中央4-29-17</li>
          <li class="mb-2">TEL：04-5717-5244</li>
          <li class="mb-2">受け時間：午前09:00時〜午後17:00時 (土曜･日曜･祝日を除く)</li>
          <li>bluetti.jp@bluetti.com</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="row link-inherit">
          <div class="col-lg-4">
            <details>
              <summary><h5 class="mb-4">サポート</h5></summary>
              <ul class="list-unstyled">
                <li class="mb-3"><a href="#">保証と返品</a></li>
                <li class="mb-3"><a href="#">よくある質問</a></li>
                <li class="mb-3"><a href="#">メディア関係</a></li>
                <li class="mb-3"><a href="#">お問い合わせ</a></li>
              </ul>
            </details>
          </div>
          <div class="col-lg-4">
            <details>
              <summary><h5 class="mb-4">イベント情報</h5></summary>
              <ul class="list-unstyled">
                <li class="mb-3"><a href="#">試用</a></li>
                <li class="mb-3"><a href="#">新規登録割引クーポン</a></li>
              </ul>
            </details>
          </div>
          <div class="col-lg-4">
            <details>
              <summary><h5 class="mb-4">正規販売店</h5></summary>
              <ul class="list-unstyled">
                <li class="mb-3"><a href="#">Bluettti Japan アマゾン店</a></li>
                <li class="mb-3"><a href="#">Bluetti Japan 楽天市場店</a></li>
                <li class="mb-3"><a href="#">Bluetti Japan ヤフー店</a></li>
              </ul>
            </details>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="d-flex align-items-center justify-content-center">
      <a href="#" class="mx-3">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13 1C6.92487 1 2 5.92487 2 12C2 17.4558 5.97189 21.9839 11.1818 22.8504V15H9V12H11.1818V10C11.1818 8.93913 11.5649 7.92172 12.2469 7.17157C12.9288 6.42143 13.8538 6 14.8182 6H17V9.2H14.8182C14.6253 9.2 14.4403 9.28429 14.3039 9.43431C14.1675 9.58434 14.0909 9.78783 14.0909 10V12H17L16.2727 15H14.0909V22.9466C19.6539 22.3989 24 17.707 24 12C24 5.92487 19.0751 1 13 1Z" fill="white"/>
        </svg>
      </a>
      <a href="#" class="mx-3">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2 7C2 4.23858 4.23858 2 7 2H17C19.7614 2 22 4.23858 22 7V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V7ZM12.4833 8.98924C11.8591 8.89668 11.2217 9.0033 10.6616 9.29392C10.1015 9.58455 9.64727 10.0444 9.36357 10.608C9.07988 11.1717 8.98113 11.8104 9.08138 12.4334C9.18163 13.0564 9.47577 13.6319 9.92196 14.0781C10.3681 14.5243 10.9437 14.8184 11.5667 14.9187C12.1897 15.0189 12.8284 14.9202 13.392 14.6365C13.9557 14.3528 14.4155 13.8986 14.7061 13.3385C14.9968 12.7784 15.1034 12.1409 15.0108 11.5167C14.9164 10.88 14.6197 10.2906 14.1646 9.83547C13.7095 9.38034 13.12 9.08365 12.4833 8.98924ZM9.74043 7.51868C10.6739 7.0343 11.7364 6.85661 12.7767 7.01087C13.8378 7.16823 14.8203 7.6627 15.5788 8.42126C16.3374 9.17981 16.8318 10.1622 16.9892 11.2234C17.1435 12.2637 16.9658 13.3261 16.4814 14.2596C15.997 15.1931 15.2306 15.9501 14.2912 16.423C13.3518 16.8958 12.2873 17.0604 11.2489 16.8933C10.2106 16.7262 9.2514 16.236 8.50774 15.4923C7.76409 14.7487 7.27386 13.7895 7.10678 12.7511C6.9397 11.7128 7.10428 10.6482 7.5771 9.70884C8.04993 8.76944 8.80693 8.00305 9.74043 7.51868ZM17.5 5.5C16.9477 5.5 16.5 5.94772 16.5 6.5C16.5 7.05228 16.9477 7.5 17.5 7.5H17.51C18.0623 7.5 18.51 7.05228 18.51 6.5C18.51 5.94772 18.0623 5.5 17.51 5.5H17.5Z" fill="white"/>
        </svg>
      </a>
      <a href="#" class="mx-3">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23 3.00029C22.0424 3.67577 20.9821 4.1924 19.86 4.53029C19.2577 3.8378 18.4573 3.34698 17.567 3.12422C16.6767 2.90145 15.7395 2.95749 14.8821 3.28474C14.0247 3.612 13.2884 4.19469 12.773 4.95401C12.2575 5.71332 11.9877 6.61263 12 7.53029V8.53029C10.2426 8.57586 8.50127 8.1861 6.93101 7.39574C5.36074 6.60537 4.01032 5.43893 3 4.00029C3 4.00029 -1 13.0003 8 17.0003C5.94053 18.3983 3.48716 19.0992 1 19.0003C10 24.0003 21 19.0003 21 7.50029C20.9991 7.22174 20.9723 6.94388 20.92 6.67029C21.9406 5.66378 22.6608 4.393 23 3.00029Z" fill="white"/>
        </svg>
      </a>
      <a href="#" class="mx-3">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8386 5.15941C22.1792 5.51057 22.4212 5.94541 22.54 6.42C22.8572 8.1787 23.0112 9.96295 23 11.75C23.0063 13.5103 22.8523 15.2676 22.54 17C22.4212 17.4746 22.1792 17.9094 21.8386 18.2606C21.498 18.6118 21.0707 18.8668 20.6 19C18.88 19.46 12 19.46 12 19.46C12 19.46 5.11996 19.46 3.39996 19C2.93878 18.8738 2.51794 18.6308 2.17811 18.2945C1.83827 17.9581 1.59092 17.5398 1.45996 17.08C1.14273 15.3213 0.988741 13.537 0.999961 11.75C0.991197 9.97631 1.14518 8.20556 1.45996 6.46C1.57875 5.98541 1.82068 5.55057 2.16131 5.19941C2.50194 4.84824 2.92921 4.59318 3.39996 4.46C5.11996 4 12 4 12 4C12 4 18.88 4 20.6 4.42C21.0707 4.55318 21.498 4.80824 21.8386 5.15941ZM15.5 11.75L9.74997 15.02V8.47998L15.5 11.75Z" fill="white"/>
        </svg>
      </a>
    </div>
    <div class="d-flex align-items-center justify-content-center link-inherit mt-4 flex-wrap">
      <a href="#">ポータブル電源</a>
      <span class="mx-3 border-left py-2"></span>
      <a href="#">モバイルバッテリー</a>
      <span class="mx-3 border-left py-2"></span>
      <a href="#">ソーラーパネル</a>
      <span class="mx-3 border-left py-2"></span>
      <a href="#">家電商品</a>
      <span class="mx-3 border-left py-2"></span>
      <a href="#">企業情報</a>
      <span class="mx-3 border-left py-2"></span>
      <a href="#">問い合わせ</a>
    </div>
  </div>
</footer>
