<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><img src="/icons/logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-fixed-1" data-toggle="dropdown" aria-expanded="false">
            ポータブル電源
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">AC20/200Wh</a>
            <a class="dropdown-item" href="#">EB40/400Wh</a>
            <a class="dropdown-item" href="#">AC100/1000Wh</a>
            <a class="dropdown-item" href="#">EB150/1500Wh</a>
            <a class="dropdown-item" href="#">EB240/2400Wh</a>
            <a class="dropdown-item" href="#">K5/297Wh</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-fixed-2" data-toggle="dropdown" aria-expanded="false">
            モバイルバッテリー
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">AC20/200Wh</a>
            <a class="dropdown-item" href="#">EB40/400Wh</a>
            <a class="dropdown-item" href="#">AC100/1000Wh</a>
            <a class="dropdown-item" href="#">EB150/1500Wh</a>
            <a class="dropdown-item" href="#">EB240/2400Wh</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-fixed-3" data-toggle="dropdown" aria-expanded="false">
            ソーラーパネル
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">AC20/200Wh</a>
            <a class="dropdown-item" href="#">EB40/400Wh</a>
            <a class="dropdown-item" href="#">AC100/1000Wh</a>
            <a class="dropdown-item" href="#">EB150/1500Wh</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">会社情報</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-fixed-4" data-toggle="dropdown" aria-expanded="false">
            ソーラーパネル
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">保証と返品</a>
            <a class="dropdown-item" href="#">よくある質問</a>
            <a class="dropdown-item" href="#">お問い合わせ</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <svg width="1.2rem" height="1.2rem" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            日本
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">日本</a>
            <a class="dropdown-item" href="#">日本</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar-fixed" id="navbar-fixed-1">
    <div class="container">
      <div class="row link-inherit">
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-1.png" alt="">
            <p class="h6 mb-0 mt-3">AC20/200Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-2.png" alt="">
            <p class="h6 mb-0 mt-3">EB40/400Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-3.png" alt="">
            <p class="h6 mb-0 mt-3">AC100/1000Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-4.png" alt="">
            <p class="h6 mb-0 mt-3">EB150/1500Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-5.png" alt="">
            <p class="h6 mb-0 mt-3">EB240/2400Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-6.png" alt="">
            <p class="h6 mb-0 mt-3">K5/297Wh</p>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar-fixed" id="navbar-fixed-2">
    <div class="container">
      <div class="row link-inherit">
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-1.png" alt="">
            <p class="h6 mb-0 mt-3">AC20/200Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-2.png" alt="">
            <p class="h6 mb-0 mt-3">EB40/400Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-3.png" alt="">
            <p class="h6 mb-0 mt-3">AC100/1000Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-4.png" alt="">
            <p class="h6 mb-0 mt-3">EB150/1500Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-5.png" alt="">
            <p class="h6 mb-0 mt-3">EB240/2400Wh</p>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar-fixed" id="navbar-fixed-3">
    <div class="container">
      <div class="row link-inherit">
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-1.png" alt="">
            <p class="h6 mb-0 mt-3">AC20/200Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-2.png" alt="">
            <p class="h6 mb-0 mt-3">EB40/400Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-3.png" alt="">
            <p class="h6 mb-0 mt-3">AC100/1000Wh</p>
          </a>
        </div>
        <div class="col-lg-2">
          <a href="#">
            <img src="/images/pic-prod-4.png" alt="">
            <p class="h6 mb-0 mt-3">EB150/1500Wh</p>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar-fixed" id="navbar-fixed-4">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div>
          <a href="#" class="d-flex align-items-center">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.652 7.39144L29.504 7.36033L29.4741 7.50857L29.2384 8.67693C26.3803 3.85725 21.2671 0.85 15.6162 0.85C9.11776 0.85 3.32664 4.81807 0.860818 10.9539L0.805752 11.0909L0.941902 11.1481L2.24123 11.694L2.38168 11.753L2.4385 11.6117C4.64365 6.12713 9.816 2.58578 15.6162 2.58578C20.601 2.58578 25.1171 5.20359 27.6886 9.42012L26.6774 8.93752L26.5397 8.8718L26.4763 9.01063L25.8823 10.3123L25.8211 10.4465L25.9542 10.51L29.2206 12.0688C29.2207 12.0688 29.2208 12.0689 29.2209 12.0689C29.3354 12.124 29.4598 12.15 29.584 12.15C29.7155 12.15 29.8459 12.1185 29.9657 12.0581L29.9665 12.0577C30.2015 11.9376 30.3666 11.716 30.4179 11.4578C30.4179 11.4577 30.4179 11.4576 30.4179 11.4576L31.147 7.85788L31.1766 7.71194L31.0309 7.68131L29.652 7.39144Z" fill="currentColor" stroke="black" stroke-width="0.3"/>
            <path d="M1.99465 19.9428C1.76749 20.0637 1.60702 20.2855 1.55768 20.5424C1.55766 20.5425 1.55764 20.5426 1.55762 20.5427L0.852796 24.1422L0.824596 24.2862L0.967957 24.3175L2.29965 24.6087L2.44955 24.6415L2.47892 24.4909L2.70424 23.3356C5.46844 28.1464 10.4086 31.15 15.8704 31.15C22.1576 31.15 27.7567 27.1805 30.1398 21.0451L30.192 20.9107L30.0598 20.8532L28.8037 20.3074L28.6606 20.2452L28.6041 20.3907C26.4731 25.8749 21.4737 29.413 15.8717 29.413C11.058 29.413 6.69446 26.7987 4.20814 22.5836L5.17478 23.0608L5.31521 23.1301L5.37842 22.9868L5.95263 21.6852L6.01064 21.5537L5.88174 21.4902L2.7236 19.9326L2.72349 19.9325C2.49328 19.8192 2.2236 19.8227 1.99541 19.9424L1.99541 19.9424L1.99465 19.9428Z" fill="currentColor" stroke="black" stroke-width="0.3"/>
            <path d="M10.3443 19.2454C10.7772 22.6951 12.9963 24.3986 15.1085 24.9251V27.0787V27.2287H15.2585H16.6732H16.8232V27.0787V25.1091C19.0497 25.0487 20.9101 23.848 21.4309 22.0008L21.4309 22.0006C21.7109 21.004 21.729 20.151 21.5525 19.4122C21.376 18.6733 21.0072 18.058 20.5279 17.5337C19.5785 16.495 18.1842 15.8028 16.9687 15.1994L16.9545 15.1924L16.9544 15.1923C16.7012 15.067 16.4299 14.9456 16.1518 14.8212L16.1144 14.8045L16.1144 14.8044C14.7198 14.1813 13.3742 13.5697 13.0246 12.0792C12.7977 11.1058 12.9604 10.2025 13.444 9.59062C13.9489 8.95421 14.8109 8.60205 15.9652 8.60205C17.1894 8.60205 18.0456 9.24987 18.6073 9.92515C19.1703 10.6018 19.426 11.2937 19.4439 11.3437L19.4942 11.485L19.6355 11.4347L20.3017 11.1975L20.3021 11.1974L20.9671 10.9628L21.1084 10.913L21.0587 10.7716C21.0305 10.6915 20.7235 9.851 20.0352 8.97316C19.3654 8.11893 18.326 7.21919 16.8232 6.9637V4.92139V4.77139H16.6732H15.2585H15.1085V4.92139V6.9412C13.5318 7.14248 12.6129 7.88222 12.1023 8.52547L12.1023 8.52555C11.2799 9.56323 11.0145 11.0027 11.3578 12.4689C11.9028 14.7989 13.8754 15.6797 15.3985 16.3599L15.416 16.3677L15.4161 16.3677C15.6882 16.4891 15.9496 16.6066 16.1918 16.7264C17.581 17.4156 18.6518 18.0021 19.2908 18.7268C19.6067 19.085 19.8144 19.4746 19.9019 19.926C19.9897 20.3788 19.9585 20.904 19.7808 21.5354L19.7808 21.5355C19.4519 22.7057 17.9984 23.513 16.2763 23.3851C15.3751 23.3179 14.4124 22.9811 13.6286 22.2886C12.8468 21.5979 12.2345 20.5456 12.0433 19.0306L12.0245 18.8817L11.8757 18.9006L10.4743 19.0779L10.3257 19.0967L10.3443 19.2454Z" fill="currentColor" stroke="curr" stroke-width="0.3"/>
            </svg>
            <p class="h6 mb-0 ml-3">保証と返品</p>
          </a>
        </div>
        <div class="border-left mx-5"></div>
        <div>
          <a href="#" class="d-flex align-items-center">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.9998 29.3332C23.3636 29.3332 29.3332 23.3636 29.3332 15.9998C29.3332 8.63604 23.3636 2.6665 15.9998 2.6665C8.63604 2.6665 2.6665 8.63604 2.6665 15.9998C2.6665 23.3636 8.63604 29.3332 15.9998 29.3332Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 16V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 22.3335H16.0133" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16 16C17.6569 16 19 14.6569 19 13C19 11.3431 17.6569 10 16 10C14.3431 10 13 11.3431 13 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="h6 mb-0 ml-3">よくある質問</p>
          </a>
        </div>
        <div class="border-left mx-5"></div>
        <div>
          <a href="#" class="d-flex align-items-center">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.66667 11H6.87778C3.63157 11 1 13.6117 1 16.8333C1 20.055 3.63157 22.6667 6.87778 22.6667H8.66667V11Z" stroke="currentColor" stroke-width="2"/>
            <path d="M23.3333 11H25.1222C28.3684 11 31 13.6117 31 16.8333C31 20.055 28.3684 22.6667 25.1222 22.6667H23.3333V11Z" stroke="currentColor" stroke-width="2"/>
            <path d="M6 11V10.7619C6 5.37055 10.3279 1 15.6667 1C21.0054 1 25.3333 5.37055 25.3333 10.7619V11" stroke="currentColor" stroke-width="2"/>
            <path d="M25.3332 22.6668C24.1169 25.3708 21.6759 27.466 18.6665 28.3335" stroke="currentColor" stroke-width="2"/>
            <circle cx="15.9998" cy="28.3333" r="2.33333" stroke="currentColor" stroke-width="2"/>
            </svg>
            <p class="h6 mb-0 ml-3">お問い合わせ</p>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
