@import "./variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";

.wf-active body {
  font-family: 'Noto Sans JP';
}
a{
  color: inherit;
  &:hover {
    color: $info;
    text-decoration: none;
  }
}
img {
  max-width: 100%;
}
.link-inherit {
  a {
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
h6,
.h6 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: normal;
}
.list-disc {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    padding-left: 1rem;
    &:not(:last-child){
      margin-bottom: 1rem;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: .6em;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $secondary;
    }
  }
}

@media (min-width: 992px){
  .container-sm {
      max-width: 1200px;
  }
}

.video-wrap {
  position: relative;
  .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.bg-gray {
  background-color: #F7F8FD;
}

.vh-lg-100 {
  @media(min-width: 992px){
    height: 100vh;
  }
}

.text-bg-logo {
  background-size: contain;
  @media(min-width: 992px){
    background-size: auto;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .navbar {
    z-index: 99;
    background-color: $dark;
    @media(min-width: 992px) {
      background-color: transparent;
    }
    .dropdown-menu {
      background-color: transparent;
      padding: 0.5rem 1rem;
      @media(min-width: 992px) {
        top: calc(100% + 10px);
        left: auto;
        right: -10px;
      }
      .dropdown-item {
        color: $white;
        padding: 0.5rem;
        font-size: 14px;
        border-top: solid rgba(255,255,255,0.3) 1px;
        &:focus {
          background-color: inherit;
          outline: none;
          box-shadow: none;
        }
        @media(min-width: 992px){
          background-color: $primary;
          &:hover {
            color: $info;
          }
          &:focus {
            background-color: $primary;
          }
        }
      }
    }
  }
  .navbar-brand {
    @media(min-width: 992px){
      padding: 1rem 0;
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
    &[aria-expanded="true"] .navbar-toggler-icon {
      background-image: url('data:image/svg+xml,<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-x" fill="rgba(255,255,255,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
    }
    &[aria-expanded="true"]::after {
      content: '';
      position: fixed;
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
  .navbar-nav:first-child {
    .nav-item {
      border-bottom: solid 1px #484848;
      @media(min-width: 992px){
        border: none;
      }
    }
  }
  .navbar-nav + .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    .nav-item {
      padding-right: 1.5rem;
      @media(min-width: 992px){
        padding-right: 0;
      }
    }
    .dropdown {
      flex: 0 0 100%;
      padding-right: .5rem;
      border-top: solid 1px #484848;
      @media(min-width: 992px){
        flex: auto;
        border: none;
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown {
    padding-right: .5rem;
    @media(min-width: 992px){
      padding-right: 1rem;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .dropdown-toggle {
    position: relative;
    &:hover {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="12px" height="12px" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="rgba(70,153,211,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
      }
    }
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      background-image: url('data:image/svg+xml,<svg width="12px" height="12px" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="rgba(255,255,255,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-6px);
    }
    &[aria-expanded="true"]{
      &::before {
        background-image: url('data:image/svg+xml,<svg width="12px" height="12px" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="rgba(70,153,211,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
        transform: rotate(180deg) translateY(6px);
      }
    }
  }
  .nav-link {
    svg {
      vertical-align: middle;
    }
  }

  .navbar-fixed {
    background-color: $white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 9;
    padding: 3rem 0;
    text-align: center;
    display: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    &.show {
      display: block;
    }
  }
}

.text-huge {
  @media(min-width: 992px){
    font-size: 64px;
  }
}

.custom-link {
  position: relative;
  &:hover {
    &::after {
      transform: translate(1rem, -0.5rem);
    }
  }
  &::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-image: url('data:image/svg+xml,<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="rgba(222,85,255,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>');
    top: 50%;
    right: -1.5rem;
    transform: translateY(-0.5rem);
    transition: all 0.2s;
  }
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-lg {
  @media(min-width: 992px){
    max-width: 1200px;
  }
}

footer {
  padding: 40px 0;
  background-color: $primary;
  color: $white;
  @media(min-width: 992px){
    padding: 80px 0 50px;
  }
  hr {
    border-color: #e8eff736;
    margin: 20px 0;
    @media(min-width: 992px){
      margin: 60px 0 30px;
    }
  }
  details {
    position: relative;
    summary{
      &:focus {
        outline: none;
        border: none;
      }
      &::-webkit-details-marker {
        display:none;
      }
      @media(min-width: 992px){
        cursor: auto;
      }
    }
    &::after {
      content: '';
      width: 1rem;
      height: 1rem;
      background-image: url('data:image/svg+xml,<svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="rgba(255,255,255,1)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
      position: absolute;
      right: 0;
      top: .2rem;
      @media(min-width: 992px){
        display: none;
      }
    }
    &[open]::after {
      transform: rotate(180deg);
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
}

a[href="#totop"] {
  width: 40px;
  height: 36px;
  background-color: #E8EFF7;
  // display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 2px;
  display: none;
}

// sweetalert2
.swal2-content {
  padding: 0 !important;
}

.seasonalBanner {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  font-size: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  z-index: 20;
  .close{
    position: fixed;
    bottom: 70px;
    z-index: 99;
    transform: translateY(-50%) rotate(45deg);
    right: 20px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 0;
    background-image: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
    background-size: contain;
  }
  @media(min-width: 992px){
    background-size: auto;
    height: 108px;
    .close {
      bottom: 20px;
      right: 66px;
    }
  }
}
