$primary: #001B6A;
$secondary: #DE55FF;
$light: #E8EFF7;

$navbar-dark-color: #fff;
$navbar-nav-link-padding-x: 1rem;
$navbar-dark-hover-color: $secondary;

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;
$btn-padding-y:               1rem !default;
$btn-padding-x:               3rem !default;

$headings-font-weight:        700 !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;
