<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <main>

    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
